body {
    background-color: #111;
    color: #eee;
}

#container {
    padding: 5px;
    width: 80%;
    margin: 0px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #999;
    margin: 5px;
    text-align: center;
    padding: 5px;
    float: left;
    border: solid 3px transparent;
    position: relative;
}

.box:after {
    display: block;
    content: attr(id);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

._X_:before {
    font-size: 30px;
    content: "◎";
}

.selected {
    border: dashed 3px #ff0 !important;
}

.red { background-color: #a00; }
.blue { background-color: #00a; }
.green { background-color: #0a0; }
.black { background-color: black; }
.gray { background-color: gray; }

.fwidth {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: left;
}
.contents hr { clear: both; color: #111; }

.boxer {
    border: solid 2px;
    background-color: #333;
    padding: 20px;
}

.boxer:before {
    content: "#" attr(id) /*counter(nope)*/;
    /*counter-increment: nope;*/
}

.boxer > hr {
    visibility: hidden;
}

b {
    color: red;
}
.errmsg {
    color: red;
}

.goal { color: yellow; }
.goal:before {
    content: "Goal: ";
}
.info { width: 60%; }

.title {
    float: left;
}

.completed {
    color: #0c0;
    float: left;
    margin-left: 10px;
}

br.clear {
    clear: both;
}

input {
    background-color: #333;
    color: white;
    border: 0px;
    padding: 2px;
    font-size: 15px;
}

input.ok {
    background-color: #050;
    color: white;
}

input.error {
    background-color: #500;
    color: white;
}

.nope {
    background-color: black;
    color: black;
    padding: 2px;
}

.nope:hover {
    color: white;
}

code {
    color: #bfb;
}
